# -----------------------------------
# Python
# -----------------------------------

__pycache__/
*.py[cod]
*$py.class

# -----------------------------------
# Virtual Environment
# -----------------------------------

.venv/
venv/
env/

# -----------------------------------
# Environment Variables
# -----------------------------------

.env

# -----------------------------------
# Logs
# -----------------------------------

logs/
*.log

# -----------------------------------
# Generated Reports
# -----------------------------------

reports/
*.pdf

# -----------------------------------
# IDE / Editor
# -----------------------------------

.vscode/
.idea/

# -----------------------------------
# OS Files
# -----------------------------------

.DS_Store
Thumbs.db

# -----------------------------------
# Build / Distribution
# -----------------------------------

build/
dist/
*.egg-info/

# -----------------------------------
# Testing
# -----------------------------------

.pytest_cache/
.coverage
htmlcov/

# -----------------------------------
# Jupyter
# -----------------------------------

.ipynb_checkpoints/

# -----------------------------------
# UV / Lock Files
# -----------------------------------

*.lock